<div class="jumbotron">
<h5>Welcome to the secret Nukebook page,</h5>
<% if current_user.has_role? :president %>
<h1><%= "Big Billy Clinton" %></h1>
<% elsif current_user.has_role? :defence %>
<h1><%= "Defcon 5 in tha hizzay!" %></h1>
<% elsif current_user.has_role? :russian %>
<%= image_tag 'russia.jpeg' %>
<% end %><br>
(<%= current_user.email %>)</h1><br>
</div>

<div class="alert alert-danger" role="alert">
<strong><p>Secret code:</p></strong>

<% if current_user.has_role? :president %>
<%= @president %>
<% elsif current_user.has_role? :defence %>
<%= @defence %>
<% elsif current_user.has_role? :russian %>
<%= @code %>
<% else link_to('Logout', destroy_user_session_path, method: :delete) %>
<% end %>
</div>
<br><br><br>

<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to('Sign in', new_user_session_path) %></li>
    <li><%= link_to('Sign up', new_user_registration_path) %></li>
  <% end %>
</ul>
